{%extends "home.html" %}
{%block css%}
<!-- Custom styles for this page -->
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

<link href="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.theme.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.structure.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='vendor/datatables/jquery-ui/jquery-ui.css') }}" rel="stylesheet">

{%endblock css%}

{%block content%}
<!-- DataTales Patients -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Add Patient</h6>
  </div>
  <div class="card-body">
    <form method="POST" action="" class="user" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <div class="row">
        <!-- Left side  -->
        <div class="col">
          <!-- First Name and Last Name -->
          <div class="row">
            <!-- First Name -->
            <div class="col">
              <div class="form-group">
                {% if form.first_name.errors %}
                {{form.first_name.label(class = "form-label")}}
                {{form.first_name(class="form-control  is-invalid")}}
                <div class="invalid-feedback ml-4">
                  {% for error in form.first_name.errors%}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.first_name.label(class = "form-label")}}
                {{form.first_name(class="form-control ")}}
                {%endif%}
              </div>
            </div>
            <!-- Last Name -->
            <div class="col">
              <div class="form-group">
                {% if form.last_name.errors %}
                {{form.last_name.label(class = "form-label")}}
                {{form.last_name(class="form-control form-control-user is-invalid")}}
                <div class="invalid-feedback ml-4">
                  {% for error in form.last_name.errors%}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.last_name.label(class = "form-label")}}
                {{form.last_name(class="form-control ")}}
                {%endif%}
              </div>
            </div>
          </div>
          <!-- Date of Birth -->
          <div class="row">
            <div class="col">
              <div class="form-group">
                {% if form.birthday.errors %}
                {{form.birthday.label(class = "form-label")}}
                {{form.birthday(class="form-control is-invalid",type="date")}}
                <div class="invalid-feedback ml-4">
                  {% for error in form.birthday.errors%}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.birthday.label(class = "form-label")}}
                {{form.birthday(class="form-control",type="date")}}
                {%endif%}
              </div>
            </div>
          </div>
          <!-- Gender -->
          <div class="row">
            <div class="col">
              <div class="form-group">
                {% if form.gender.errors %}
                {{form.gender.label(class = "form-label")}}
                {{form.gender(class="form-control is-invalid")}}
                <div class="invalid-feedback ml-4">
                  {% for error in form.gender.errors%}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.gender.label(class = "form-label")}}
                {{form.gender(class="form-control ")}}
                {%endif%}
              </div>
            </div>
          </div>
          <!-- Phone Number -->
          <div class="row">
            <div class="col">
              <div class="form-group">
                {% if form.phone_number.errors %}
                {{form.gender.label(class = "form-label")}}
                {{form.phone_number(class="form-control is-invalid")}}
                <div class="invalid-feedback ml-4">
                  {% for error in form.phone_number.errors%}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.phone_number.label(class = "form-label")}}
                {{form.phone_number(class="form-control")}}
                {%endif%}
              </div>
            </div>
          </div>
        </div>
        <!-- Right side -->
        <div class="col">
          <!-- Address -->
          <div class="row">
            <div class="col">
              <div class="form-group">
                {% if form.address.errors %}
                {{form.address.label(class = "form-label")}}
                {{form.address(class="form-control is-invalid")}}
                <div class="invalid-feedback ml-4">
                  {% for error in form.address.errors%}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.address.label(class = "form-label")}}
                {{form.address(class="form-control ")}}
                {%endif%}
              </div>
            </div>
          </div>
          <!-- City, State, Zipcode -->
          <div class="row">
            <div class="col">
              <div class="form-group">
                {% if form.city.errors %}
                {{form.city.label(class = "form-label")}}
                {{form.city(class="form-control is-invalid")}}
                <div class="invalid-feedback ml-4">
                  {% for error in form.city.errors%}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.city.label(class = "form-label")}}
                {{form.city(class="form-control")}}
                {%endif%}
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                {% if form.state.errors %}
                {{form.state.label(class = "form-label")}}
                {{form.state(class="form-control is-invalid")}}
                <div class="invalid-feedback ml-4">
                  {% for error in form.state.errors%}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.state.label(class = "form-label")}}
                {{form.state(class="form-control")}}
                {%endif%}
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                {% if form.zipcode.errors %}
                {{form.zipcode.label(class = "form-label")}}
                {{form.zipcode(class="form-control is-invalid")}}
                <div class="invalid-feedback ml-4">
                  {% for error in form.zipcode.errors%}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.zipcode.label(class = "form-label")}}
                {{form.zipcode(class="form-control")}}
                {%endif%}
              </div>
            </div>
          </div>
          <!-- Note -->
          <div class="row">
            <div class="col">
              <div class="form-group">
                {% if form.note.errors %}
                {{form.note.label(class = "form-label")}}
                {{form.note(class="form-control is-invalid",rows='4',cols='5')}}
                <div class="invalid-feedback ml-4">
                  {% for error in form.note.errors%}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.note.label(class = "form-label")}}
                {{form.note(class="form-control",rows='4',cols='5')}}
                {%endif%}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row  d-inline">
        <div class="col text-center">
          <a href="{{url_for('search_patients')}}" class="btn btn-secondary btn-lg d-inline">Cancel</a>
          {{form.submit(class="btn btn-primary btn-lg d-inline")}}
        </div>
      </div>


      
      
      
      
      
      
      
      

      
    </form>
  </div>
</div>
{%endblock content%}
{%block javascript%}
<!-- Page level plugins -->
<!-- <script src="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.min.js') }}"></script> -->
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<!-- Page level custom scripts -->
<!-- <script>
  $( function() {
    $( "#dob" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
  } );
  </script> -->
</head>
<body>
{%endblock javascript%}